<div class="container-main-content">

    <header class="container-card header">
        <h1>About this application</h1>
    </header>

    <div class="container">

        <div class="container-card">
            <h2>Technologies Used</h2>
            <ul>
                <li>Angular 6</li>
                <li>Google's Firebase (for authentication and hosting)</li>
                <li>Typescript</li>
                <li>SCSS (CSS preprocessor)</li>
                <li>RXJS</li>
                <li>HTML5</li>
                <li>CSS3 Flexbox and Grid</li>
                <li>Browser local storage for persisting data</li>
            </ul>
        </div>

        <div class="container-inner">

            <div class="container-card">
                <h2>Hosting</h2>
                <p>It is hosted on Google's Firebase:</p>
                <ul>
                    <li>
                        <a href="https://console.firebase.google.com/u/0/project/football-b1017/hosting/main" target="_blank">Hosting Site</a>
                    </li>
                </ul>
            </div>

            <div class="container-card">
                <h2>Authentication</h2>
                <p>Users need to authenticate in order to use features within the system:</p>
                <ul>
                    <li>The action buttons on the Administration and Latest Fixtures pages</li>
                </ul>
            </div>

            <div class="container-card">
                <h2>Administrator Access</h2>
                <p>Users with the administration role (set in Firebase) can:</p>
                <ul>
                    <li>Use Firebase to persist the application data (i.e. instead of using the browser's local storage)</li>
                </ul>
            </div>

        </div>

    </div>
</div>