<div class="container-main-content">

    <div class="main-header">
        <h1>Results/Fixtures for {{ teamName }}</h1>
        <div class="showGoals">
            <mat-checkbox [(ngModel)]="showGoals">Show Goals</mat-checkbox>
        </div>
    </div>

    <div class="fixtures">
        <ng-container *ngFor="let fixture of fixturesToOutput; let i = index">

            <fixture-row [source]="'Team Stats'" [fixture]="fixture" [showGoals]="showGoals" [winDrawLoss]="fixture.winDrawLoss"></fixture-row>

        </ng-container>
    </div>

    <!-- <div class="chart">
        <canvas
            baseChart
            [chartType]="chartType"
            [datasets]="chartData"
            [labels]="chartLabels"
            [options]="chartOptions"
            [colors]="chartColors"
            [legend]="true"> -->
    <!-- (chartClick)="onChartClick($event)"> -->
    <!-- </canvas> -->
    <!-- </div> -->

    <canvas id="myChart"></canvas>

    <!-- <app-chart></app-chart> -->

</div>