.container-main-content-latest-fixtures {
    max-width: 85%;
    margin: 150px auto 0 auto;
}

.split-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1;
    grid-column-gap: 100px;
}

.fixtures-latest {
    grid-column: 1;
    grid-row: 1;
}

.league-table-latest {
    grid-column: 2;
    grid-row: 1;
}

#startSetOfFixtures {
    margin-bottom: 20px;
}

// .numberOfMinutes {
//     text-align: center;
//     color: blue;
// }