<ng-container *ngIf="tableTypeInPlay; then tableInPlay; else tableOthers"></ng-container>

<ng-template #tableInPlay>
    <div class="league-table-in-play">
        <h3>As It Stands Table</h3>
        <ng-container *ngTemplateOutlet="restofTable"></ng-container>
    </div>
</ng-template>


<ng-template #tableOthers>
    <div class="container-main-content">
        <h1>Premier League Table {{ hasSeasonFinished ? " - Final" : "" }}</h1>
        <ng-container *ngTemplateOutlet="restofTable"></ng-container>
    </div>
</ng-template>



<ng-template #restofTable>

    <table class="league-table{{ tableTypeFull ? '-full' : '' }}">
        <tbody class="league-table-body">

            <!-- <ng-container *ngTemplateOutlet="leagueTable; context: viewContext"></ng-container> -->
            <!-- <ng-template #leagueTable let-tableTypeFull="tableType"> -->
            <tr class="league-table-header">
                <td class="league-table-position">&nbsp;</td>
                <td class="league-table-movement" *ngIf="tableTypeInPlay">&nbsp;</td>
                <td class="league-table-teamName">Team</td>
                <th class="league-table-played">Played</th>
                <td class="league-table-won">{{ tableTypeFull || tableTypeInPlay ? "W" : "Won" }}</td>
                <td class="league-table-drawn">{{ tableTypeFull || tableTypeInPlay ? "D" : "Drawn" }}</td>
                <td class="league-table-lost">{{ tableTypeFull || tableTypeInPlay ? "L" : "Lost" }}</td>
                <td class="league-table-goalsFor" *ngIf="!tableTypeInPlay">{{ tableTypeFull ? "GF" : "For" }}</td>
                <td class="league-table-goalsAgainst" *ngIf="!tableTypeInPlay">{{ tableTypeFull ? "GA" : "Against" }}</td>
                <td class="league-table-won" *ngIf="tableTypeFull">W</td>
                <td class="league-table-drawn" *ngIf="tableTypeFull">D</td>
                <td class="league-table-lost" *ngIf="tableTypeFull">L</td>
                <td class="league-table-goalsFor" *ngIf="tableTypeFull">GF</td>
                <td class="league-table-goalsAgainst" *ngIf="tableTypeFull">GA</td>
                <td class="league-table-goalDifference">GD</td>
                <td class="league-table-points">Points</td>
                <td class="league-table-form-header">Form</td>
            </tr>

            <ng-container *ngFor="let team of table; let i = index;">
                <tr class="league-table-row">
                    <td class="league-table-position">{{ i + 1 }}</td>

                    <td class="league-table-movement" *ngIf="tableTypeInPlay">
                        <mat-icon md-18 *ngIf="tableTypeInPlay && hasSeasonStarted && i < getPositionInArrayOfObjectsThis(tableBeforeFixtures, 'teamName', team.teamName)"
                            class="arrow-up">arrow_upward</mat-icon>
                        <mat-icon md-18 *ngIf="tableTypeInPlay && hasSeasonStarted && i > getPositionInArrayOfObjectsThis(tableBeforeFixtures, 'teamName', team.teamName)"
                            class="arrow-down">arrow_downward</mat-icon>
                    </td>

                    <!-- <td class="league-table-teamName"><a class="teamNameLink" routerLink="/teamstats/{{ team.teamName }}" (mouseover)="hover=true" (mouseleave)="hover=false"><span [ngStyle]="{'text-decoration': (hover) ? 'underline' : 'none'}">{{ team.teamName }}</span></a></td> -->
                    <td class="league-table-teamName"><a class="teamNameLink" routerLink="/teamstats/{{ team.teamName }}" (mouseover)="hover=true" (mouseleave)="hover=false"><span>{{ team.teamName }}</span></a></td>
                    <td class="league-table-played">{{ team.played }}</td>
                    <td class="league-table-won">{{ tableTypeFull ? team.homeWon : team.won }}</td>
                    <td class="league-table-drawn">{{ tableTypeFull ? team.homeDrawn : team.drawn }}</td>
                    <td class="league-table-lost">{{ tableTypeFull ? team.homeLost : team.lost }}</td>
                    <td class="league-table-goalsFor" *ngIf="!tableTypeInPlay">{{ tableTypeFull ? team.homeGoalsFor : team.goalsFor }}</td>
                    <td class="league-table-goalsAgainst" *ngIf="!tableTypeInPlay">{{ tableTypeFull ? team.homeGoalsAgainst : team.goalsAgainst }}</td>
                    <td class="league-table-won" *ngIf="tableTypeFull">{{ team.awayWon }}</td>
                    <td class="league-table-drawn" *ngIf="tableTypeFull">{{ team.awayDrawn }}</td>
                    <td class="league-table-lost" *ngIf="tableTypeFull">{{ team.awayLost }}</td>
                    <td class="league-table-goalsFor" *ngIf="tableTypeFull">{{ team.awayGoalsFor }}</td>
                    <td class="league-table-goalsAgainst" *ngIf="tableTypeFull">{{ team.awayGoalsAgainst }}</td>
                    <td class="league-table-goalDifference">{{ team.goalDifference }}</td>
                    <td class="league-table-points">{{ team.points }}</td>
                    <td class="league-table-form">
                        <ng-container *ngFor="let formElement of team.form">
                            <span class="league-table-form-cell {{ formElement }}">{{ formElement }}</span>
                        </ng-container>
                    </td>
                </tr>
            </ng-container>

        </tbody>
    </table>

</ng-template>