<div class="inner-container">

    <div id="main-grid">

        <h1>Administration</h1>

        <form id="admin-form" #adminForm="ngForm">
            <!-- <form id="admin-form"> -->


            <div id="div-admin">

                <div id="div-admin-teams">

                    <div class="card bg-light border-secondary mb-3">
                        <h4 class="card-header text-center">Teams for the Season</h4>
                        <div class="card-body" id="div-admin-teams-card-body">
                            <table id="admin-teams">
                                <tr id="teams-header">
                                    <td id="admin-teams-number">No.</td>
                                    <td id="admin-teams-team">Team</td>
                                    <td id="admin-teams-top-team">Top Team?</td>
                                </tr>

                                <tr *ngFor="let nTeam of appDataTeams; let i = index" class="teams-row">
                                    <td>{{ i + 1 }}</td>
                                    <td id="team{{ i }}">
                                        <input type="text" class="form-control form-control-sm" id="team{{ i }}" [(ngModel)]="nTeam.teamName" name="team{{ i }}">
                                    </td>
                                    <td id="topteam{{ i }}">
                                        <input type="checkbox" class="form-control form-control-sm" id="topteam{{ i }}" ng-checked="nTeam.isATopTeam" [(ngModel)]="nTeam.isATopTeam" name="topteam{{ i }}">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>

                <div id="div-admin-factors">

                    <!-- <mat-card class="example-card">            
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
              </mat-card-header>             -->
                    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
                    <!-- <mat-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
              </mat-card-actions>
            </mat-card> -->

                    <div class="card bg-light border-secondary mb-3">
                        <h4 class="card-header text-center">Information for the Season</h4>
                        <div class="card-body" id="card-body-information-for-the-season">

                            <div class="form-group row">
                                <label for="seasonYears" class="col-sm-6 col-form-label">Season</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="seasonYears" [(ngModel)]="appDataMiscInfo.season" name="seasonYears">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="seasonStartDate" class="col-sm-6 col-form-label">Season Start Date</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="seasonStartDate" [(ngModel)]="appDataMiscInfo.seasonStartDate" name="seasonStartDate">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="numberOfFixturesForSeason" class="col-sm-6 col-form-label">Number of Fixtures for Season</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="numberOfFixturesForSeason" [(ngModel)]="appDataMiscInfo.numberOfFixturesForSeason" name="numberOfFixturesForSeason">
                                </div>
                            </div>

                            <!-- <div class="form-group row">
                                <label for="dateOfLastSetOfFixtures" class="col-sm-6 col-form-label">Date of Last Set of Fixtures</label>
                                <div class="col-sm-4">
                                <input type="text" class="form-control" id="dateOfLastSetOfFixtures">
                                </div>
                            </div> -->

                        </div>
                    </div>

                    <div class="card bg-light border-secondary mb-1">
                        <h4 class="card-header text-center">Match Score Factors</h4>
                        <div class="card-body" id="card-body-match-score-factors">

                            <div class="form-group row">
                                <label for="factorBaseForRandomMultiplier" class="col-sm-6 col-form-label">Base For Random Multiplier</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="factorBaseForRandomMultiplier" [(ngModel)]="appDataMiscInfo.factorBaseForRandomMultiplier" name="factorBaseForRandomMultiplier">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="factorAwayTeam" class="col-sm-6 col-form-label">Away Team Factor</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="factorAwayTeam" [(ngModel)]="appDataMiscInfo.factorAwayTeam" name="factorAwayTeam">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="factorIsNotATopTeam" class="col-sm-6 col-form-label">Is Not A Top Team Factor</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="factorIsNotATopTeam" [(ngModel)]="appDataMiscInfo.factorIsNotATopTeam" name="factorIsNotATopTeam">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="factorLikelihoodOfAGoalDuringASetPeriod" class="col-sm-6 col-form-label">Goals Per Minute Factor</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="factorLikelihoodOfAGoalDuringASetPeriod" [(ngModel)]="appDataMiscInfo.factorLikelihoodOfAGoalDuringASetPeriod" name="factorLikelihoodOfAGoalDuringASetPeriod">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="factorIsItAGoal" class="col-sm-6 col-form-label">Is It A Goal Factor</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="factorIsItAGoal" [(ngModel)]="appDataMiscInfo.factorIsItAGoal" name="factorIsItAGoal">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="matchUpdateInterval" class="col-sm-6 col-form-label">Match Update Interval</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="matchUpdateInterval" [(ngModel)]="appDataMiscInfo.matchUpdateInterval" name="matchUpdateInterval">
                                </div>
                            </div>

                        </div>
                    </div>

                    <br />
                    <button id="adminSave" class="btn btn-primary" (click)="this.dataService.saveAppData()">Save Changes</button> &nbsp; &nbsp;
                    <button id="fixturesForSeason" class="btn btn-info" (click)="this.createFixturesForSeason()">Create Fixtures for Season</button>
                    <br />
                    <br />

                </div>
            </div>
        </form>

    </div>

</div>