<div class="container-main-content" *ngIf="appDataMiscInfo != undefined">

    <header>
        <h1>Administration</h1>

        <div class="dataStorage">
            <span>Where is data saved?</span>
            <mat-radio-group [(ngModel)]="appDataMiscInfo.dataStorage" name="dataStorage">
                <mat-radio-button value="Browser">Browser</mat-radio-button>
                <mat-radio-button value="Firebase" [disabled]="!authenticated()">Firebase</mat-radio-button>
            </mat-radio-group>
        </div>
    </header>

    <form #adminForm="ngForm">

        <div class="container-admin">

            <div class="container-admin-teams">

                <div class="container-card">

                    <h2>Teams for the Season</h2>

                    <table class="admin-teams">
                        <thead>
                            <tr class="teams-header">
                                <th class="admin-team-number">No.</th>
                                <th class="admin-team-team">Team</th>
                                <th class="admin-team-top-team">Top Team?</th>
                            </tr>
                        </thead>

                        <tbody>
                            <ng-container *ngFor="let team of appDataTeams; let i = index">
                                <tr class="team-row">
                                    <td class="admin-team-number">{{ i + 1 }}</td>
                                    <td id="team{{ i }}">
                                        <input type="text" id="team{{ i }}" [(ngModel)]="team.teamName" name="team{{ i }}">
                                    </td>
                                    <td id="topteam{{ i }}">
                                        <input type="checkbox" id="topteam{{ i }}" ng-checked="team.isATopTeam" [(ngModel)]="team.isATopTeam" name="topteam{{ i }}">
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="container-admin-factors">

                <div class="container-card">
                    <h2>Information for the Season</h2>

                    <mat-form-field class="form-control">
                        <input matInput placeholder="Season" [(ngModel)]="appDataMiscInfo.season" name="seasonYears">
                    </mat-form-field>

                    <mat-form-field class="form-control">
                        <input matInput placeholder="Season Start Date" [(ngModel)]="appDataMiscInfo.seasonStartDate" name="seasonStartDate">
                    </mat-form-field>

                    <mat-form-field class="form-control">
                        <input matInput placeholder="Number of Fixtures for Season" [(ngModel)]="appDataMiscInfo.numberOfFixturesForSeason" name="numberOfFixturesForSeason">
                    </mat-form-field>
                </div>

                <div class="container-card">
                    <h2>Match Score Factors</h2>

                    <mat-form-field class="form-control">
                        <input matInput placeholder="Fixture Update Interval (seconds)" [(ngModel)]="appDataMiscInfo.goalFactors.fixtureUpdateInterval"
                            name="fixtureUpdateInterval">
                    </mat-form-field>

                    <mat-form-field class="form-control">
                        <input matInput placeholder="Base For Random Multiplier" [(ngModel)]="appDataMiscInfo.goalFactors.baseForRandomMultiplier"
                            name="factorBaseForRandomMultiplier">
                    </mat-form-field>

                    <mat-form-field class="form-control">
                        <input matInput placeholder="Away Team Factor" [(ngModel)]="appDataMiscInfo.goalFactors.isAwayTeam" name="factorAwayTeam">
                    </mat-form-field>

                    <mat-form-field class="form-control">
                        <input matInput placeholder="Is Not A Top Team Factor" [(ngModel)]="appDataMiscInfo.goalFactors.isNotATopTeam" name="factorIsNotATopTeam">
                    </mat-form-field>

                    <mat-form-field class="form-control-long">
                        <input matInput placeholder="Goals Per Minute Factor" [(ngModel)]="appDataMiscInfo.goalFactors.likelihoodOfAGoalDuringASetPeriod"
                            name="factorLikelihoodOfAGoalDuringASetPeriod">
                    </mat-form-field>

                    <mat-form-field class="form-control">
                        <input matInput placeholder="Is It A Goal Factor" [(ngModel)]="appDataMiscInfo.goalFactors.isItAGoal" name="factorIsItAGoal">
                    </mat-form-field>
                </div>

                <div class="buttons">
                    <button [disabled]="!authenticated()" mat-button mat-raised-button color="primary" id="adminSave" class="btn btn-primary"
                        (click)="this.dataService.saveAppData(true)">Save Changes</button> &nbsp; &nbsp;
                    <button [disabled]="!authenticated()" mat-button mat-raised-button color="warn" id="fixturesForSeason" class="btn btn-info"
                        (click)="this.createFixturesForSeason()">Create Tournament Fixtures</button> &nbsp; &nbsp;
                    <button [disabled]="!authenticated()" mat-button mat-raised-button color="accent" id="resetApp" class="btn btn-small btn-danger"
                        (click)="this.dataService.resetApp()">Reset App</button>
                </div>

            </div>
        </div>
    </form>

</div>