@import '~sass/variables';

.container-main-content {
    max-width: 80%;
    margin-top: 125px;
    
    h1 {
        text-align: center;
        margin-bottom: 30px;
    }
}

mat-radio-button {
    margin: 0px 15px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    // line-height: 0;
}

.container-admin {
    display: flex;
    > div { width: 45%; }
}

.container-admin-factors {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 50px;
    
    > div { margin-bottom: 20px; }
}

.container-card {
    font-family: $font-family-main;
    font-size: 0.9rem;
    color: black;
    text-align: left;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 0 auto;
    padding: 5px 20px 15px 20px;

    h2 { text-align: center; }
}

table.admin-teams {
    font-size: 14px;   
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
    
    .admin-team-number { width: 15%; text-align: center }
    .admin-team-team { width: 50%; text-align: left}
    .admin-team-top-team { width: 15%; text-align: center}

    .teams-header { background-color: $background-color-admin-teams-header; }
    .teams-header th { padding: 5px; }

    .team-row input { width: 100%; }   

    td {
        border-bottom: 1px solid lightgray;
        padding: 5px;
    }

    input { color: #495057; }
    
    tbody tr:odd { background-color: gray; }
}

.form-control {
    width: 40%;
    margin-right: 50px;
    margin-top: 25px;
}

.form-control-long {
    width: 100%;
    margin-top: 25px;
}

mat-form-field {
    font-size: 16px;
}


@media all and (min-width: 1280px) {

    .container-admin-teams { max-width: 45%; }
}

@media all and (max-width: 1280px) {

    .container-admin > div { margin: 0 auto; }

}

@media all and (max-width: 414px) {

    .container-admin {
        display: initial;
    
        > div {
            width: 95%;
            margin: 0 auto;
        }
    }

    .container-admin-teams { width: 100%; }

}
